.button {
  cursor: pointer;
  border: none;
  border-radius: var(--radius);
  background-color: var(--primary);
  color: var(--font-primary);
  font-size: 1rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  margin: 0.5rem 0;
  padding: 1rem;
  width: 100%;
}

.button:hover {
  background-color: var(--primary-alt);
}

.danger {
  background-color: var(--error);
  color: var(--gray-input);
}

.danger:hover {
  background-color: var(--error);
  opacity: 0.8;
}
