.container {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2rem;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: var(--radius);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.container:hover {
  background-color: var(--primary);
}
