.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--third-back);
  color: var(--gray-2);
  height: 100vh;
  z-index: 1000;
  transition: transform 0.3s ease-in-out;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
}

.inline {
  background-color: var(--primary);
  color: var(--gray-2);
}
